.Recent{
    padding: 0;
}

.Recent-Match{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 300px;
    border: 1px solid #474b4f;
    text-decoration: none;
    color: #fff;
}

.Recent-Match:hover{
    border: 1px solid #6b6e70;
}

.Recent-KDA{
   
}