body{
    margin: 0;
    padding: 0;
    font-family: "Roboto",serif;
}

.Header{
    margin-bottom: 25px;
    width: 100%;
    background-color: #0b0c10;
    border-bottom: 1px solid #66fcf1;
}

.Header-List{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
}

.Header-Item{
    list-style: none;
    position: relative;
    margin-right: 20px;
}

.Header-Item_current::after{
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    background-color: #66fcf1;
    border: 1px solid #45a29e;
    border-bottom: 0px;
    border-radius: 12px 12px 0px 0px;
    bottom: 0;
    left: 0;
}

.Header-Item > a{
    text-decoration: none;   
    color: #fff;
    display: block;
    font-size: 1.2em;   
    padding: 25px;
}
